.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#about {
  background-color: #b0c4de;
  color: #2a3132;
}

.post {
  text-align: center;
}

#contact {
  background-color: rgb(176, 196, 222);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#profil {
  background: url("../img/background.jpg");
  background-size: initial;
  color: white;
}

#projects {
  background-color: #336b87;
}

.card {
  background-color: rgb(176, 196, 222);
  color: #2a3132;
}

/* .card-slide {
  background-color: rgb(176, 196, 222);
  color: #2a3132;
} */

.btn {
  background-color: #336b87;
}

.profile-container {
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  margin-right: 10px;
}

.error-message {
  color: red;
}

.caption {
  font-style: italic;
}
